# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database file
*.db

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# Mac OS
.DS_Store

# Logs
*.log

# Python environment
env/
venv/
.venv/

# ML saved models
saved_models/

# Backups
backups/

# Deprecated files
personal_finance_analyzer.gui.py
